# Validates that Gradle Wrapper changes do not contain malicious code injected.
# See the following for more details: https://github.com/marketplace/actions/gradle-wrapper-validation

name: "Validate Gradle Wrapper"
on: [ push, pull_request ]

jobs:
  validation:
    name: "Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1
